<%-
  roles = Role.givable.sort
  selected = Setting.plugin_default_watchers['default_watchers']
%>

<p>
  <%= content_tag(:label, l(:label_default_watchers)) %>
  <%= select_tag("settings[default_watchers]",
                 content_tag(:option, '') + options_from_collection_for_select(roles, :id, :name, selected),
                 :multiple => true)
  %>
</p>
